<div class="header-banner">
  <h1 id=menu-title>Restaurant Du Jour</h1>
  <hr>
</div>

<div class="main-container">

  <div class="menu-items">
    <table>
      <tbody>
      <tr>
        <td class="menu-type">
          <h2>Dinner</h2>
        </td>
      </tr>
      <div class="menu-section">
        <% @menu.categories.each do |category| %>
          <% if @menu.dishes?(category: category) %>
            <tr class="category-row">
              <td class="category-name"><h2><%= category.name %></h2></td>
            </tr>
              <% @menu.dishes(category: category).each do |dish| %>
                <tr class="dish-row">
                  <td class="dish-name"><%= dish.name %> </td>
                  <td class="dish-price" onmouseover="price">$<%= dish.price %><div id="popup">Total: $<%= dish.cost_after_tax %></div></td>
                </tr>
              <% end %>
            <% end %>
        <% end %>
      </div>
      </tbody>
    </table>
  </div>
</div>
