<p id="notice"><%= notice %></p>

<h1>Dishes</h1>

<div class="main-container">

  <div class="dish-items">
    <table>
      <tbody>
        <% @dishes.each do |dish| %>
          <tr>
            <td class="dish-name"><%= link_to dish.name, dish_path(dish) %></td>
            <td class="dish-price"><%= dish.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="return-nav">
    <%= link_to 'New Dish', new_dish_path %>
  </div>

</div>
