<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Lato:300|Dancing+Script', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
</html>


  <body>
    <%= yield %>
  </body>
</html>
